.task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 20px 0;
}

.task-title {
    max-width: 300px;
    text-align: left;
}

.task-info {

}

.task-deadline {
    display: inline-block;
    margin: 0 10px 0 0;
}

.task-btn-delete, .task-btn-edit {
    display: inline-block;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}