.AddNewTask-container {
    background-color: white;
    padding: 20px;
}

.AddNewTask-container:after{
    content: '';
    display: table;
    clear: both;
}

.input-container {
    float: left;
}

.AddNewTask-input {
    border: none;
    outline: none;
    width: 200px;
}

.AddNewTask-btn-add {
    float: right;
}

#deadline-input {
    width: 145px;
    height: 35px;
}