header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    background-color: #fcfcff;
}

.header-left {
    display: block;
}

.header-right {
    display: block;
}

.header-weekday, .header-count-of-tasks, .header-day {
    margin: 0;
}